@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    html, body, #app{
        background: #EE5454;
        min-height: 100%;
        margin: 0; padding: 0;
        box-sizing: border-box;
    }
}